// 主题
$xtxColor: #27BA9B;
// 辅助
$helpColor: #E26237;
// 成功
$sucColor: #1DC779;
// 警告
$warnColor: #FFB302;
// 价格
$priceColor: #CF4444;

:export {
  //暴露scss变量
  $xtxColor: $xtxColor;
  $helpColor: $helpColor;
  // 成功
  $sucColor: $sucColor;
  // 警告
  $warnColor: $warnColor;
  // 价格
  $priceColor: $priceColor;
}