.root {
  :global {
    .sub-sort {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .sort {
        display: flex;

        a {
          height: 30px;
          line-height: 28px;
          border: 1px solid #e4e4e4;
          padding: 0 20px;
          margin-right: 20px;
          color: #999;
          border-radius: 2px;
          position: relative;
          transition: all .3s;

          &.active {
            background: $xtxColor;
            border-color: $xtxColor;
            color: #fff;
          }

          .arrow {
            position: absolute;
            border: 5px solid transparent;
            right: 8px;

            &.up {
              top: 3px;
              border-bottom-color: #bbb;

              &.active {
                border-bottom-color: $xtxColor;
              }
            }

            &.down {
              top: 15px;
              border-top-color: #bbb;

              &.active {
                border-top-color: $xtxColor;
              }
            }
          }
        }
      }

      .check {
        display: flex;

        .xtx-checkbox {
          margin-left: 20px;
          color: #999;
        }
      }
    }
  }
}